.user-inputs {
  margin-top: 30px;
}

.user-inputs input {
  width: 70%;
  margin-left: 20px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}
.submit-btn {
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  justify-content: flex-end;
  color: rgb(255, 255, 255);
  background-color: rgb(214, 95, 95);
  font-size: larger;
  background-color: rgba(255, 138, 138, 1);
  box-shadow: inset 2px -10px 25px #c93636, 2px 1px 4px rgb(110, 56, 51);
}

.gridsize-input-field {
  width: 10px;
}
