.cell {
  border: solid white;
  border-width: 0.5px;
  padding: 7px;
  width: 15px;
  background-color: rgba(255, 138, 138, 1);
  height: 15px;
  cursor: pointer;
  box-shadow: rgb(150, 68, 68) 0px 1px 24px;
}

.cell:hover {
  background-color: rgb(243, 185, 185);
}

.player1_cell {
  background-color: rgba(255, 138, 138, 1);

  border: solid white;
  border-width: 4px;
  padding: 6px;
  height: 10px;
  border-radius: 50%;
}

.player2_cell {
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 12px;
}
.player2_cell:after {
  content: "";
  height: 26px;
  border-left: 4px solid #fff;

  position: absolute;
  transform: rotate(45deg);
}

.player2_cell:before {
  content: "";
  height: 26px;

  border-left: 4px solid #fff;
  position: absolute;
  transform: rotate(-45deg);
}
