.main-container {
  padding: 40px;
}

.game-description-modal-content {
  width: 490px;
  height: 350px;

  background-color: rgb(50, 53, 47);
  margin: 60px 20px 0px 20px;

  justify-content: center;
  padding: 20px;
  line-height: 30px;
  border-radius: 10px;
  background-color: rgb(250, 180, 180);
}

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(146, 102, 102, 0.747);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  text-align: center;
  color: rgb(214, 95, 95);
  text-shadow: 2px 2px white;
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 35px;
}
.reset-btn-container {
}
.reset-btn {
  text-transform: uppercase;

  font-size: 12px;
  width: 65px;
  padding: 11px;
  color: white;
  border-width: 1.5px;
  border-radius: 10px;
  background-color: rgb(250, 123, 123);
  box-shadow: inset 1px -5px 5px rgb(173, 68, 68);
  font-weight: bold;
}

.users {
  color: rgb(65, 60, 60);
  font-weight: 900;
  letter-spacing: 1px;
  margin-right: 40px;
}

.player1-text {
  margin-bottom: 10px;
}

.players-button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
