.grid-cells {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  justify-content: center;
}

.reset-btn-container {
  display: flex;
  justify-content: flex-end;

  width: 300px;
}
.reset-btn {
  text-transform: uppercase;

  margin-top: 21px;

  padding: 11px;
  color: white;
  border: solid rgb(110, 56, 51);
  border-width: 1.5px;
  border-radius: 10px;
  background-color: rgb(250, 123, 123);

  box-shadow: inset 1px -5px 5px rgb(173, 68, 68);
  /* box-shadow: inset 2px -10px 25px #c93636, 2px 1px 4px rgb(110, 56, 51); */

  font-weight: bold;
}

.reset-btn:hover {
  box-shadow: inset 0 0 7px 0px rgb(78, 29, 29);
  font-size: 13.2px;
  transition: 0.5s;
  background-color: rgb(252, 113, 113);
  cursor: pointer;
}
